.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  transition: background-color .1s ease-in-out, filter .1s ease-in-out;
  .list-holder {
    padding: 4px;
    text-align: center;
    opacity: .5;
  }
  .li {
    position: relative;
    padding: 4px 4px 4px 32px;
    margin-right: 12px;
    border-radius: 4px;

    .checkbox {
      position: absolute;
      left: 6px;
      top: 0;
      bottom: 0;
      padding: 0;
      margin: auto;
    }

    .close-btn {
      opacity: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, .2);
      .close-btn {
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
    }

    &.hidden {
      display: none;
    }
  }
  .message {
    margin-left: 6px;
    padding-right: 16px;
    color: rgba(255, 255, 255, 0.9);
    &.is-active {
      display: inline-block;
      //animation-duration: 5s;
      //animation-delay: 4s;
      animation-iteration-count: infinite;
    }
    &.checked {
      text-decoration: line-through;
    }
  }
}