.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    transition: background-color .1s ease-in-out, filter .1s ease-in-out;

    .list-holder {
        padding: 4px;
        text-align: center;
        opacity: .5;
    }
}