.input-wrapper {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
    padding: 0 12px;
    -webkit-app-region: no-drag;
    input {
        width: 100%;
        height: 32px;
        padding: 4px 20px 4px 4px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        color: #ccc;
        font-size: 16px;
        letter-spacing: 2px;
        background: transparent;
        outline: none;
        opacity: .1;
        transition: opacity .3s linear;
    }
    .close-btn {
        right: 14px;
        opacity: 0;
    }
    &.focus {
        input {
            border-radius: 0;
            opacity: .9;
            box-shadow: 0 -1px 8px 2px rgba(0, 0, 0, .2);
            background: rgba(0, 0, 0, .2);
        }
        .close-btn {
            opacity: 1;
        }
    }
    &.empty {
        .close-btn {
            opacity: 0;
        }
    }
}

.input-li.undo-li {
    position: absolute;
    bottom: 50px;
    left: 20px;
    right: 20px;
    color: rgba(255, 255, 255, .2);
    list-style: none;
    .hyperlink button {
        color: rgba(255, 255, 255, .3);
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        &:hover {
            color: rgba(255, 255, 255, .4);
            border-bottom: 1px solid rgba(255, 255, 255, .4)
        }
    }
}