.color-theme {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 12px;

    .color-title {
        vertical-align: middle;
    }

    .color-block {
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 2px;
        line-height: 20px;
        margin-left: 4px;
        border: 2px solid transparent;
        border-radius: 24px;
        vertical-align: middle;

        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 10px;
            cursor: pointer;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .black {
        &.is-active {
            border: 2px solid rgba(255, 255, 255, .6);
        }

        &:before {
            background: rgba(0, 0, 0, .6);

            &:hover {
                background: rgba(0, 0, 0, .8);
            }

            &:active {
                background: rgba(0, 0, 0, 1);
            }
        }
    }

    .white {
        &.is-active {
            border: 2px solid rgba(0, 0, 0, .6);
        }

        &:before {
            background: rgba(255, 255, 255, 6);

            &:hover {
                background: rgba(255, 255, 255, .8);
            }

            &:active {
                background: rgba(255, 255, 255, 1);
            }
        }
    }
}