.status {
    position: absolute;
    top: 6px;
    right: 6px;
    margin: 4px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    &:hover {

    }
    &.good {
        background: rgba(0, 255, 0, .4);
    }
    &.ok {
        background: rgba(255, 255, 0, .6);
    }
    &.busy {
        background: rgba(255, 0, 0, .6);
    }
    &:before {
        content: '';
        position: absolute;
        right: 6px;
        top: 6px;
        display: block;
        width: 0;
        height: 0;
        border-radius: 100%;
        background: rgba(0, 0, 0, .4);
        transform: translate(50%, -50%);
        opacity: 0;
        transition: width .2s ease-in, height .2s ease-in, transform .2s ease-in,
        opacity .2s ease-in, background-color .2s ease-in-out;
        z-index: -1;
    }
    &:hover {
        &:before {
            width: 40px;
            height: 40px;
            opacity: 1;

        }
    }
    &.is-active {
        &:before {
            width: 1000px;
            height: 1000px;
            opacity: 1;
        }
    }
}