.filter-tag-list {
  padding: 12px 0 8px;
  .filter-tag {
    padding: 2px 4px;
    margin-right: 4px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    background: rgba(255, 255, 255, .2);
    opacity: .4;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
    &.is-active {
      border: 1px solid rgba(255, 255, 255, .8);
      color: white;
      opacity: 1;
    }
  }
}