.status {
    position: absolute;
    top: 6px;
    right: 6px;
    margin: 4px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    &:hover {

    }
    &.good {
        background: rgba(0, 255, 0, .4);
    }
    &.ok {
        background: rgba(255, 255, 0, .6);
    }
    &.busy {
        background: rgba(255, 0, 0, .6);
    }
}